.invoice {
  .inputArea {
    select {
      width: 100%;
    }
    .ant-form-item:last-child {
      margin-bottom: 0;
    }
  }

  .winRate {
    height: 136px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .prizeDesc {
    .title {
      font-weight: bold;
      margin-bottom: 24px;
    }
    h4 {
      color: red;
    }
    h5 {
      margin-bottom: 0;
    }
  }

  .winHistory {
    .title {
      font-weight: bold;
      margin-bottom: 24px;
    }
  }
}
